  html, body {
    height: 120%;
  }

  body, h1, h2, p {
    margin: 0;
    padding: 0;
}

  /* placing */
  .topnav ul li {
    list-style: none;
    display: inline;
    margin-left: 250px;

  }


  /* decorations */
  .topnav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    margin-top: 63px;
    margin-left: 170px;
  }

  .topnav a:hover {
    color: purple;
  }

  .topnav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  .topnav a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }



  /* topnav responsive */
  @media screen and (max-width: 400px) {
    .topnav {
      width: 50%;
      margin-left: 28%;
      visibility: hidden;
    }
  }


  @media screen and (max-width: 200px) {
    .topnav {
      width: 100%;
      visibility: hidden;
    }
  }

  /* topnav responsive */


  /* hamburger menu */

  .topnav2 {
    overflow: hidden;
    background-color: transparent;
    position: relative;
    visibility: hidden;
  }

  .topnav2 #myLinks {
    display: none;
  }

  .topnav2 a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav2 a.icon {
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }


  .topnav2 a:hover {
    color: purple;
  }


  .active2 {
    background-color: transparent;
  }



  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 400px) {
    .topnav2 {
      width: 50%;
      visibility: visible;
      margin-left: 35%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 200px) {
    .topnav2 {
      width: 100%;
      visibility: visible;
    }
  }

  /* hamburger menu */





  .title {
    margin-left: 100px;
    font-size: 250%;
    font-family: sans-serif;
    font-weight: bold;
    background-color: purple;
    max-width: 12.5rem;
    border-radius: 15px;
    text-align: center;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 400px) {
    .title {
      width: 50%;
      visibility: visible;
      margin-left: 31%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 200px) {
    .title {
      width: 100%;
      visibility: visible;
    }
  }



  .name {
    margin-top: -30%;
    font-family: sans-serif;
    font-size: 60px;
    margin-left: 45%;
    color: white;
  }

  .name {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 2s;
    -moz-animation-name: slidein-left;
    -webkit-animation-name: slidein-left;
  }

  @-moz-keyframes slidein-left {
    from {
      margin-left: 100%;
      width: 300%
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @-webkit-keyframes slidein-left {
    from {
      margin-left: 100%;
      width: 300%
    }

    to {
      margin-left: 45%;
      width: 100%;
    }
  }



  /* homepage */
  .name span {
    color: purple;

  }


  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 400px) {
    .name {
      margin-top: 10%;
      margin-left: 20%
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 200px) {
    .name {
      margin-top: 10%;
      margin-left: 20%;
    }
  }




  .aboutme {
    color: whitesmoke;
    text-align: left;
    font-size: 19px;
    width: 30%;
    margin-left: 45%;
    margin-top: 1%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 400px) {
    .aboutme {
      margin-top: 10%;
      margin-left: 11% text-align:center;
      font-size: 15px;
      width: 200px;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 200px) {
    .aboutme {
      margin-top: 10%;
      margin-left: 11%;
      text-align: center;
    }
  }



  .foto {
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 10%;

  }


  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 400px) {
    .foto {
      max-width: 250px;
      margin-left: 25%
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 200px) {
    .foto {
      max-width: 250px;
      margin-left: 25%;
    }
  }






  /* cv pagina */
  .naam2 span {
    color: purple;
    font-family: sans-serif;

  }

  .naam2 {
    color: white;

  }

  .titel {
    margin-left: 20%;
    font-size: 200px;
    width: 1000px;

  }

  hr {
    width: 63%;
    margin-left: 20%;
  }

  .buttons {
    margin-left: 36%;
    margin-top: 2%;

  }


  .button {
    background-color: purple;
    /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;

  }

  .button {
    border-radius: 20px;
    margin-left: 20%;
  }

  .button:hover {
    transition-duration: 0.6s;
    background-color: rgb(170, 25, 170);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .button:active {

    transform: translateY(4px);
  }


  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 200px) {
    .buttons {
      width: 50%;
      margin-left: 33%;
    }

  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 200px) {
    .titel {
      width: 100%;
      margin-left: 5%;
    }

    hr {
      width: 88%;
      margin-left: 8%;
    }
  }



  /* cv pagina */


  /* contact */


  .icons {
    color: purple;
    font-size: 50px;
    visibility: hidden;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 400px) {
    .icons {
      width: 50%;
      visibility: visible;
      margin-left: 27%
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 200px) {
    .icons {
      width: 100%;
      visibility: visible;
      margin-top: 20px;
    }
  }



  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



  body,
  button,
  input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .background {
    display: flex;
    min-height: 100vh;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }

  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }

  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .screen-header-left {
    margin-right: auto;
  }

  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }




  .screen-body {
    display: flex;
  }

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }

  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }

  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: purple;
    font-size: 26px;
  }

  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: purple;
  }

  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }

  .app-form-group {
    margin-bottom: 15px;
  }

  .app-form-group.message {
    margin-top: 40px;
  }

  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }

  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;

  }

  .name1 {
    /* display: inline-block; */
    display: flex;
    padding-right: 160px;

    border-bottom: 1px solid #666;
    color: white;

  }


  .name1 span {
    color: purple;
  }


  .screen {
    background-color: rgb(36, 35, 35);
    margin-top: -40%;
  }

  .screen-header {
    background-color: purple;
  }


  .app-form-control:focus {
    border-bottom-color: #ddd;
  }

  .app-form-button {
    background: none;
    border: none;
    color: purple;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }

  .app-form-button:hover {
    color: rgb(224, 94, 224);
  }

  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: purple;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }

  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

  @media screen and (max-width: 200px) {
    .screen-body {
      flex-direction: column;
    }

    .screen {
      margin-top: -300px;
    }

    .screen-body-item.left {
      margin-bottom: 30px;
    }

    .app-title {
      flex-direction: row;
    }

    .app-title span {
      margin-right: 12px;
    }

    .app-title:after {
      display: none;
    }
  }

  @media screen and (max-width: 400px) {
    .screen-body {
      padding: 40px;

    }

    .screen-body-item {
      padding: 0;
    }
  }


  /* contact */






  /* begin footer */
  body {
    margin: 0;
    overflow-x: hidden;
    background-color: white;
  }

  .footer {
    position: absolute;
    width: 100%;
    top: 140%;
    background-color: white;
    color: white;
    text-align: center;

  }



  .footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: black;
    font-size: 0.8em;
  }

  .footer .row a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }

  .footer .row a:hover {
    color: black;
  }

  .footer .row ul {
    width: 100%;
  }

  .footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
  }

  .footer .row a i {
    font-size: 2em;
    margin: 0% 1%;

  }

  body {
    background-color: black;
  }


  body {
    margin: 0;
    overflow-x: hidden;
    background-color: white;
  }

  .footer2 {
    position: absolute;
    width: 100%;
    top: 300%;
    background-color: white;
    color: white;
    text-align: center;

  }



  .footer2 .row2 {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: black;
    font-size: 0.8em;
  }

  .footer2 .row2 a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }

  .footer2 .row2 a:hover {
    color: black;
  }

  .footer2 .row2 ul {
    width: 100%;
  }

  .footer2 .row2 ul li {
    display: inline-block;
    margin: 0px 30px;
  }

  .footer2 .row2 a i {
    font-size: 2em;
    margin: 0% 1%;

  }

  body {
    background-color: black;
  }

  /* footer */

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 400px) {
    .footer {
      top: 150%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .footer {
      top: 150%;
    }
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 400px) {
    .footer2 {
      top: 150%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .footer2 {
      top: 150%;
    }
  }